@charset  "UTF-8";
footer a {
    color: black !important;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: darkgray !important;
    text-decoration: solid;
}